.main {
  position: absolute;
  top: 200px;
  height: 500px;
  width: 500px;
  z-index: 1;
  background-color: aqua;
  transition: 1s;
}

.submain {
  position: absolute;
  top: 200px;
  left: 0;
  height: 500px;
  width: 500px;
  z-index: -1;
  background-color: blue;
  transition: 1s;
}

.hover {
  transform: perspective(1200px) rotateY(40deg);
}

.main.active {
  z-index: 2;
}
.submain.active {
  z-index: 2;
  animation: move 1s;
}

@keyframes move {
  0% {
    left: 500px;
    /* transform: perspective(200px) rotateY(40deg); */
  }
  100% {
    left: 0;
    /* transform: perspective(1200px) rotateY(40deg); */
  }
}
